.Synonyms {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}
.Synonyms ul {
  list-style: none;
}
.Synonyms li {
  display: inline-block;
  padding-right: 15px;
  font-size: 13px;
  line-height: 1;
}
